<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>UrbanFut5 - Play ball!!!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/players.css">

</head>

<body>
	<div class="col s7" style="margin-bottom: 60px; margin-top: 30px;">
		<img class="responsive-img urban-logo" src="assets/images/soccer-badge.png" width="250">
	</div>
	<div class="container row" id="app">
		<!-- <button class="center waves-effect light-blue darken-2 waves-light btn" @click="isHidden = !isHidden">Log In</button> -->
		<!-- <a class="btn-floating btn-large waves-effect waves-light blue" @click="isHidden = !isHidden"><i class="material-icons">add</i></a> -->

		<div class="fixed-action-btn">
				<a class="btn-floating btn-large blue" @click="isHidden = !isHidden">
				  <i class="large material-icons">person</i>
				</a>
				<ul>
				  <!-- <li><a class="btn-floating red" @click="isHidden = !isHidden"><i class="material-icons">insert_chart</i></a></li>
				  <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
				  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li> -->
				  <!-- <li><a class="btn-floating blue" @click="isHidden = !isHidden"><i class="material-icons">person</i></a></li> -->
				</ul>
			  </div>
        <!-- {{isHidden}} -->
		<div class="col s12" v-if="isHidden">
			<div class="row" v-if="!isLogged">
				<div class="input-field col s6">
					<input id="email" type="email" class="validate" v-model="emailAddress">
					<label for="email">Email</label>
				</div>
				<div class="input-field col s6">
					<input id="password" type="password" class="validate" v-model="password">
					<label for="password">Password</label>
				</div>
			</div>
			<button class="waves-effect waves-light btn" type="submit" name="action" style="margin-bottom: 25px;"
				v-if="!isLogged" v-on:click="authenticate">Login</button>
		</div>
		<div class="col s12 m-bottom" v-if="isLogged">
			<h6 class="left">Bem vindo {{userEmail}}</h6>
			<button class="right waves-effect light-blue darken-2 waves-light btn" v-on:click="logOut">Log Out</button>
		</div>
		<section v-if="activeGame || isLogged">
			<input class="js-players col s10 playerlist" type="text" v-model="playerList"
				placeholder="Insira lista de jogadores separados por virgula" :disabled="playerListDisabled"></input>
			<input class="js-datepicker col s2 datepicker" type="text" v-model="dateOfGameText" placeholder="Data do jogo"
				:disabled="true"></input>
			<div class="clearfix m-bottom"></div>
			<div class="card-panel" v-bind:class="{ green: hasPlayers, 'deep-orange darken-2': noPlayers }">
				<h6 class="white-text text-darken-2">{{returnPlayerTeams}}</h6>
			</div>
			<table class="striped col s5 left" style="margin-right: 20px">
				<thead>
					<tr>
						<th>Equipa Um</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="member in teamOne">
						<td><i class="material-icons">person</i>{{member.name}}</td>
					</tr>
				</tbody>
			</table>
			<table class="striped col s5 right">
				<thead>
					<tr>
						<th>Equipa Dois</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="member in teamTwo">
						<td><i class="material-icons">person</i>{{member.name}}</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix"></div>
			<button class="waves-effect waves-light btn" style="margin-top: 25px;" v-if="!activeGame || isLogged"
				v-on:click="saveTeam">Save</button>
			<button class="waves-effect deep-orange darken-2 waves-light btn" style="margin-top: 25px;" v-if="!activeGame || isLogged"
				v-on:click="removeLast">Remove Last</button>
			<button class="waves-effect light-blue darken-2 waves-light btn" style="margin-top: 25px;" v-if="!activeGame || isLogged"
				v-on:click="manualRandomize">Shuffle</button>
		</section>
	</div>

	<!-- Compiled and minified JavaScript -->
	<!-- <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script> -->

	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<!-- <script src="assets/app.js"></script> -->
	<script src="dist/app.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('.fixed-action-btn').floatingActionButton();
		});
	</script>
</body>

</html>