.urban-logo {
	position: relative;
	margin: 0 auto;
	display: block;
}

.col.s10.playerlist {
  width: calc(83.3333333333% - 10px);
}

.col.s2.datepicker {
  margin-left: 10px;
}

.row .col.s5 {
	width: calc(50% - 10px);
}

table.striped>tbody>tr>td {
	padding-left: 45px;
	position: relative;
}

table.striped>tbody>tr>td i {
	left: 10px;
	position: absolute;
}
